# Convenience deps for running Python test scripts locally/CI.
# To update lock file:
# - activate clean venv
# - run `pip install -r requirements.txt`
# - then `pip freeze > requirements-lock.txt`
anolis-protocol @ https://github.com/anolishq/anolis-protocol/releases/download/v1.1.3/anolis_protocol-1.1.3-py3-none-any.whl
pytest>=8.0.0,<9.0.0
ruff>=0.15.0,<1.0.0
mypy>=1.8.0,<2.0.0
