anolis-protocol @ https://github.com/anolishq/anolis-protocol/releases/download/v1.1.0/anolis_protocol-1.1.0-py3-none-any.whl
colorama==0.4.6
iniconfig==2.3.0
librt==0.8.1
mypy==1.19.1
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
pluggy==1.6.0
protobuf==5.29.6
Pygments==2.19.2
pytest==8.4.2
ruff==0.15.4
typing_extensions==4.15.0
